body {
    font-family: Verdana;
    font-size: 1em;
    text-align: center;
}

#mySubmit {
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(5, 8, 240);
    color: rgb(249, 248, 248);
    border: none;
    cursor: pointer;
    text-align: center;
}

#ageText {
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(24, 28, 235);
    color: rgb(249, 248, 248);
    border: none;
    cursor: pointer;
    text-align: center;
}

#result {
    font-size: 2em;
    margin: 20px 0;
    font-family: Helvetica;
}