body {
    font-family: Verdana;
    font-size: 1em;
}

.counter-container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 4em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    margin: 5px;
    cursor: pointer;
}